<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bays.dao.ItemMapper">
        <insert id="addItem">
            insert into iteminfo
            (id,item_number,logo,name,type,size,is_online,sex,price,description)
            values
            (
            #{item.id},
            #{item.number},
            #{item.logo},
            #{item.name},
            #{item.type},
            #{item.size},
            #{item.is_online},
            #{item.sex},
            #{item.price},
            #{item.description}
            )
        </insert>

        <update id="updateItem">
            update iteminfo
            SET
            item_number=#{item.number},
            logo=#{item.logo},
            name=#{item.name},
            type=#{item.type},
            size=#{item.size},
            is_online=#{item.is_online},
            sex=#{item.sex},
            price=#{item.price},
            description=#{item.description}
            WHERE
            id=#{item.id}
        </update>

        <update id="updatePic">
            update iteminfo
            SET
            pic_path=#{item_path}
            WHERE
            id=#{itemId}
        </update>

        <select id="queryItem" resultType="java.util.Map">
            select * from iteminfo
        </select>
</mapper>