<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- mybatis支持log4j日志 打印sql -->
        <setting name="logImpl" value="LOG4J"/>
        <!-- 开启缓存 -->
        <setting name="cacheEnabled" value="true" />
        <!-- 开启全局懒加载 -->
        <setting name="lazyLoadingEnabled" value="true" />
        <!-- 当设置为‘true’的时候，懒加载的对象可能被任何懒属性全部加载。否则，每个属性都按需加载 -->
        <setting name="aggressiveLazyLoading" value="false" />
        <!-- 允许单一语句返回多结果集 -->
        <setting name="multipleResultSetsEnabled" value="true" />
        <!-- 使用列标签代替列名 -->
        <setting name="useColumnLabel" value="true" />
        <!-- 允许 JDBC 支持生成的键 -->
        <setting name="useGeneratedKeys" value="true" />
        <!-- 指定 MyBatis 如何自动映射列到字段/ 属性 -->
        <setting name="autoMappingBehavior" value="FULL" />
        <!-- 配置默认的执行器 -->
        <setting name="defaultExecutorType" value="REUSE" />
        <!-- 设置超时时间 -->
        <setting name="defaultStatementTimeout" value="25000" />
    </settings>

    <plugins>
        <!-- 分页插件 -->
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <property name="helperDialect" value="mysql"></property>
        </plugin> 
    </plugins>
</configuration>