<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/tx
                            http://www.springframework.org/schema/tx/spring-tx.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context.xsd
                            http://www.springframework.org/schema/aop
                            http://www.springframework.org/schema/aop/spring-aop.xsd
                            http://www.springframework.org/schema/cache
                            http://www.springframework.org/schema/cache/spring-cache.xsd
                            http://www.springframework.org/schema/mvc
                            http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--启用spring的一些annotation -->
    <context:annotation-config></context:annotation-config>

    <context:property-placeholder location="classpath:mail.properties,classpath:token.properties,classpath:globalConfig.properties" ignore-unresolvable="true" />

    <!-- 配置注解驱动 可以将request参数与绑定到controller参数上 -->
    <mvc:annotation-driven>
        <!-- 消息转换器,解决responseBody返回中外乱码问题 -->
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!--使用json 配置-->
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="mappingJackson2HttpMessageConverter"></ref>
            </list>
        </property>
    </bean>
    <bean id="mappingJackson2HttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/html;charset=UTF-8</value>
                <value>text/json;charset=UTF-8</value>
                <value>application/json;charset=UTF-8</value>
            </list>
        </property>
    </bean>
    <!--json 配置结束-->

    <!-- 自动扫描该包，使SpringMVC认为包下用了@controller注解的类是控制器 -->
    <context:component-scan base-package="com.bays.controller">
        <!--<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"></context:include-filter>-->
    </context:component-scan>

    <!--HandlerMapping 无需配置，springmvc可以默认启动-->
    <mvc:default-servlet-handler/>

    <!--对于静态文件的访问-->
    <!--<mvc:resources mapping="/statics/**" location="/statics/"/>-->
    <mvc:resources location="/statics/css/" mapping="/css/**" />
    <mvc:resources location="/statics/images/" mapping="/images/**" />
    <mvc:resources location="/statics/js/" mapping="/js/**" />
    <mvc:resources location="/statics/json/" mapping="/json/**" />
    <mvc:resources location="/statics/layui/" mapping="/layui/**" />
    <mvc:resources location="/statics/page/" mapping="/page/**" />
    <mvc:resources location="/statics/plugins/" mapping="/plugins/**" />
    <!--<mvc:resources location="/statics/*/" mapping="/*.ico" />-->


    <!-- 默认的视图解析器 在上边的解析错误时使用 (默认使用html)- -->
    <bean id="defaultViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/views/"/><!--设置JSP文件的目录位置-->
        <!--<property name="suffix" value=".jsp"/>-->
        <property name="suffix" value=".html"/>
    </bean>

    <!-- springmvc文件上传需要配置的节点-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="20971500"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="resolveLazily" value="true"/>
    </bean>

    <mvc:interceptors>
        <mvc:interceptor>
            <!--默认拦截的链接-->
            <mvc:mapping path="/**"/>
            <!--不拦截的链接-->
            <mvc:exclude-mapping path="/statics/**/*"></mvc:exclude-mapping>
            <mvc:exclude-mapping path="/js/**/*"></mvc:exclude-mapping>
            <mvc:exclude-mapping path="/*/**/*.json"></mvc:exclude-mapping>
            <mvc:exclude-mapping path="/*.ico"></mvc:exclude-mapping>
            <mvc:exclude-mapping path="/user/login"></mvc:exclude-mapping>
            <bean class="com.interceptor.LoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>